<h1 style="text-align:center;">Edit Login Details </h1>

<%= render "form", login: @login %>

<br>

<div id="edit">
  <%= link_to "Show this login", @login %> |
  <%= link_to "Back to logins", logins_path %>
</div>
