<br>
<h1 style="text-align:center;">LOGIN</h1>

<%= render "form", login: @login  ,id:"hii"%>

<br>

<div>
  <%= link_to "Back to logins", logins_path ,style: "text-align:center; margin-left:48%;"  %>
</div>
