<div id="<%= dom_id detail %>">
  <p>
    <strong>Number:</strong>
    <%= detail.number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= detail.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= detail.state %>
  </p>

</div>
